# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.3dsx

# 3ds Things
*.map

# Build Directories
*/build
n3ds_platform/romfs/gfx

# I don't wanna get sued by nintendo
n3ds_platform/gfx/mario